.source
  padding 20px 5px 20px 20px
  max-width 40%
  flex-shrink 0
  background #f0f0f0

.sourceList
  display flex
  flex-wrap wrap

.sourceListItem
  background: antiquewhite
  border-color orange
  cursor move
  margin-right 15px
  margin-bottom 15px

  &.isDraggable
    position absolute
